{% extends 'base.html.twig' %}

{% block title %}Ajouter un type{% endblock %}

{% block body %}
    <h1>Créez un nouveau type</h1>

    {{ include('type/form.html.twig') }}

    <a class="button" href="{{ path('home_type') }}">Voir les types</a>
{% endblock %}