{% extends 'base.html.twig' %}

{% block title %}Ajouter un personnage{% endblock %}

{% block body %}
    <h1>Créez un nouveau Personnage</h1>

    {{ include('personnage/form.html.twig') }}

    <a class="button" href="{{ path('home') }}">Voir les personnages</a>
{% endblock %}