{% extends 'base.html.twig' %}

{% block title %}Modifier ce personnage{% endblock %}

{% block body %}
    <h1>Modifier ce personnage</h1>

    {{ include('personnage/form.html.twig', {'button_label': 'Modifier'}) }}

    <a class="button" href="{{ path('home') }}">Voir les personnages</a>

{% endblock %}