<form method="post" action="{{ path('suppr_personnage', {'id': personnage.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('supprimer' ~ personnage.id) }}">
    <button>Supprimer</button>
</form>